<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{
            color: bisque;
        }
    </style>
</head>
<body>
    <!-- 해당 웹페이지를 바로바로 즉석으로 확인!!-->
     <!-- 라이브 서버 올리는 법 -->
      <!-- 우클릭 -> Open with Live Server -->
       <!-- Alt + L, O -->
    <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzAzMzFfMTI4/MDAxNDkwOTM1NTA1NTYz.u4T8ZftiFs7UnGK1UC1OcBCP_qlYDwusHTrADQEZ530g.v8DGVpzORc5tLEUi3Im6BCDT3Upfsdxm-sYYwXDSFcgg.PNG.gadian7/%ED%98%B8%EB%B9%B5%EB%A7%A8_%EC%9D%B4%EB%AF%B8%EC%A7%80.PNG?type=w800"
        />
    <h1 style="color: blue;"> 성우의 웹 페이지</h1>
    <h1 style="color: blue;"> 곧 설날이네요 </h1>
    <h2> 곧 쉬는시간 </h2>
    <h2> 담배 끊으시면 좋을텐데... </h2>
    <!-- html이란? -->
    <!-- hyper text markup language -->

    <!-- client에서 data를 보내기 위해 -->
    <!-- 3가지 확인 사항 -->
    <!-- 어디로?? -->
    <!-- 어떤 방식으로?? -->
    <!-- 언제?? -->
    <form action="/cal" method="get">
        <input type="text" name="num1"> +
        <input type="text" name="num2"> =

        </br>
        <input type="submit" value="계산">
    </form>
</body>
</html>